<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajit Deshmukh</title>
    
</head>
<body>
    <h1>Actor Ajit Deshmukh</h1>
  <img src="/static/Ajit_US.jpg" alt="Ajit Deshmukh" width="800" height="400">"
  <h2>About Ajit Deshmukh</h2>
  <p>Ajit Deshmukh is an Indian actor, film producer, television personality, and philanthropist. He is known for his roles in Marathi Serials, Short films, Telugu films, and Bollywood films. Ajit Deshmukh is also known for his contributions to education, healthcare, and social justice.</p>
  <h2>Ajit Deshmukh's Work</h2>
  <p>To watch is Marathi serial on Zee Marathi</p>
  <button>Click here</button>
</body>
</html>